OAUTH_CONSUMER_KEY=<REPLACE-WITH-TWITTER-OAUTH-CONSUMER-KEY>
OAUTH_CONSUMER_SECRET=<REPLACE-WITH-TWITTER-OAUTH-CONSUMER-SECRET>
OAUTH_TOKEN=<REPLACE-WITH-TWITTER-OAUTH-TOKEN>
OAUTH_TOKEN_SECRET=<REPLACE-WITH-TWITTER-OAUTH-TOKEN-SECRET>

OAUTH2_ACCESS_TOKEN=<REPLACE-WITH-TWITTER-OAUTH2-ACCESS-TOKEN>
OAUTH2_CLIENT_ID=<REPLACE-WITH-TWITTER-OAUTH2-CLIENT-ID>
OAUTH2_CLIENT_SECRET=<REPLACE-WITH-TWITTER-OAUTH2-CLIENT-SECRET>
OAUTH2_REFRESH_TOKEN=<REPLACE-WITH-TWITTER-OAUTH2-REFRESH-TOKEN>
